src/n8n/workflows/FormatearBulkMessageN8n.json
{
    "nodes": [
      {
        "parameters": {
          "url": "https://api.example.com/data",
          "method": "GET",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "id": "1",
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [250, 300]
      },
      {
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              {
                "name": "processedData",
                "value": "={{ $json.data }}"
              }
            ]
          }
        },
        "id": "2",
        "name": "Process Response",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [450, 300]
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "products",
                "value": "=[{\"id\":1,\"name\":\"Producto A\",\"category\":\"A\"},{\"id\":2,\"name\":\"Producto B\",\"category\":\"B\"},{\"id\":3,\"name\":\"Producto C\",\"category\":\"C\"}]"
              }
            ]
          }
        },
        "id": "3",
        "name": "Product Table",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [250, 500]
      },
      {
        "parameters": {
          "functionCode": "// Inputs: $json.processedData (client history), $json.products (product table)\nconst history = $json.processedData;\nconst products = $json.products ? JSON.parse($json.products) : [];\n// Example: select product by category match or fallback to first\nlet selectedProduct = products[0];\nif (history && history.category) {\n  const match = products.find(p => p.category === history.category);\n  if (match) selectedProduct = match;\n}\nreturn [{ ...$json, selectedProduct }];"
        },
        "id": "4",
        "name": "Select Product",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [450, 500]
      }
    ],
    "connections": {
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Process Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Product Table": {
        "main": [
          [
            {
              "node": "Select Product",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Response": {
        "main": [
          [
            {
              "node": "Select Product",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
  