src/n8n/workflows/Webhook_workflow (3).json
{
  "name": "Webhook workflow",
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.Ouput }}",
        "options": {}
      },
      "id": "dc202927-c0bc-4e89-9c35-239202f9a81f",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1900,
        100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "55ef3880-973e-4645-961d-49beecde9445",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2120,
        120
      ],
      "webhookId": "87eec5d3-23b6-4439-bbce-a30256e984ab"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1180,
        480
      ],
      "id": "b6c5f563-214c-4a36-b9a4-677ebd2f8ce9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ITcoQ5kvhH8jzKCQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_buCZtkM9xQVwtPZYBtVzTFJD",
          "mode": "list",
          "cachedResultName": "Sucursal MarIADono Assistant"
        },
        "prompt": "define",
        "text": "=Consulta: {{ $('Switch').item.json.output['Consulta reformulada'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        -40,
        280
      ],
      "id": "a714c81c-fbaa-42f3-b168-723180a52d13",
      "name": "Sucursal MariaDono Assistant",
      "credentials": {
        "openAiApi": {
          "id": "ITcoQ5kvhH8jzKCQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -580,
        560
      ],
      "id": "cad1c741-56b6-40e3-961e-7ac28a506881",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EtzYI9puf5hWVyrc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_lC1SN7zl6vOZSBF361QR6V23",
          "mode": "list",
          "cachedResultName": "Cursos MarIADono Assistant"
        },
        "prompt": "define",
        "text": "=Eres un asistente especializado en los cursos de **Ceridono Refrigeración**. Tu función es responder consultas sobre cursos de refrigeración basándote únicamente en los documentos proporcionados.\n\n## INSTRUCCIONES PRINCIPALES:\n\n### 1. RESPUESTA BASADA EN DOCUMENTOS\n- Responde SOLO con información contenida en los documentos proporcionados\n- Si no encuentras información específica en los documentos, indica claramente que no tienes esa información disponible\n- Cita o referencia el documento específico cuando sea posible\n\n### 2. INFORMACIÓN GEOGRÁFICA CRÍTICA\n- **SIEMPRE** identifica y menciona la provincia del curso consultado\n- Adapta tu respuesta según la ubicación específica del curso\n- Si la consulta no especifica provincia, pregunta cuál es la provincia de interés\n\n### 3. INFORMACIÓN TEMPORAL CRÍTICA\n- **SIEMPRE** considera la fecha y hora actual al responder\n- Verifica si el curso ya comenzó o está por comenzar.\n- Indica claramente el estado temporal del curso:\n  - \"El curso ya comenzó el [fecha]\"\n  - \"El curso comienza en [X días/horas]\"\n  \n\n### 4. LINK DE REGISTRO OBLIGATORIO\n**INCLUIR EN TODAS LAS RESPUESTAS:**\n🔗 **Link de registro:** [INSERTAR LINK DE REGISTRO AQUÍ]\n\n### 5. ESTRUCTURA DE RESPUESTA\n\nPara cada consulta, incluye:\n\n1. **Ubicación:** Provincia y ciudad del curso\n2. **Estado temporal:** Si ya comenzó o cuándo inicia\n3. **Información solicitada:** Respuesta específica basada en documentos\n4. **Link de registro:** Siempre al final\n\n### 6. EJEMPLOS DE RESPUESTAS:\n\n**Ejemplo 1 - Curso activo:**\n\"El curso de Refrigeración Básica en **Buenos Aires** ya comenzó el 10 de junio. Según el documento del programa, cubre [información específica]. \n\n🔗 **Link de registro:** [LINK]\"\n\n**Ejemplo 2 - Curso próximo:**\n\"El curso de Aire Acondicionado en **Córdoba** comienza el 20 de junio (en 6 días). Basado en la documentación, incluye [información específica].\n\n🔗 **Link de registro:** [LINK]\"\n\n**Ejemplo 3 - Curso finalizado:**\n\"El curso consultado en **Mendoza** ya empezo hace 2 semanas el 5 de junio. Para próximas fechas, consulta:\n\n🔗 **Link de registro:** [LINK]\"\n\n### 7. CASOS ESPECIALES:\n\n- Si no se especifica provincia: \"¿En qué provincia te interesa el curso?\"\n- Si la información no está en documentos: \"No encuentro esa información específica en la documentación disponible\"\n- Si hay múltiples cursos en diferentes provincias: Lista todas las opciones con sus respectivas fechas y ubicaciones\n\n### 8. RECORDATORIOS IMPORTANTES:\n\n- ✅ Verificar provincia del curso\n- ✅ Verificar fecha/hora actual vs inicio del curso  \n- ✅ Incluir link de registro\n- ✅ Basar respuesta en documentos proporcionados\n- ✅ Ser claro sobre el estado temporal del curso\n\n---\n\n**NOTA:** Mantén un tono profesional y servicial. Ayuda a los consultantes a tomar decisiones informadas sobre los cursos según su ubicación y disponibilidad temporal.\n\nconversación: {{ $('Webhook').item.json.body.data._chatHistory }}\n\nconsulta reformulada: {{ $('Switch').item.json.output['Consulta reformulada'] }}\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        -40,
        -60
      ],
      "id": "0aa86f2d-27af-4be7-833a-a2dd1a8eb0ab",
      "name": "Cursos MariaDono Assistant",
      "credentials": {
        "openAiApi": {
          "id": "ITcoQ5kvhH8jzKCQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "= {{ $json.output.interesCliente }}",
        "categories": {
          "categories": [
            {
              "category": "cursos",
              "description": "Consultas relacionadas con capacitaciones, programas educativos, seminarios o talleres.  Ejemplos:  \"Quiero información sobre los cursos de refrigeración\" \"¿Cuándo inicia el próximo?\""
            },
            {
              "category": "Productos",
              "description": "Consultas sobre artículos, repuestos o servicios en venta.  Ejemplos:  \"¿Qué productos tienen disponibles?\" \"Quiero comprar un gas\""
            },
            {
              "category": "sucursal",
              "description": "Preguntas sobre ubicaciones, direcciones o información de locales físicos.  Ejemplos:  \"¿Dónde está su sucursal más cercana?\" \"Horarios de atención en oficinas\""
            },
            {
              "category": "pagos",
              "description": "Consultas relacionadas con métodos de pago, facturas o transacciones.  Ejemplos:  \"¿Aceptan pagos con tarjeta de crédito?\" \"Necesito información sobre mi factura\""
            },
            {
              "category": "procedimientos",
              "description": "Consultas relacionadas con procedimiento, protocolo, ejecutivo, trámite, ruta o funcionalidad."
            },
            {
              "category": "notificaciones",
              "description": "Solicitud con respecto a las notificaciones"
            },
            {
              "category": "Multiples opciones",
              "description": "Para el caso de que pertenezca a más de una categoría"
            },
            {
              "category": "Saludos y agradecimientos",
              "description": " \"interesCliente\":  \"saludos o agradecimientos\""
            }
          ]
        },
        "options": {
          "multiClass": false,
          "fallback": "other",
          "enableAutoFixing": true
        }
      },
      "id": "21339b2a-cd9e-45bd-928d-8b70e0f1db49",
      "name": "Selector de Agentes",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -560,
        40
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "febbaffb-359f-433e-b56e-454cbbfa8a45",
              "name": "Ouput",
              "value": "={{ {\n    \"Respuesta\": $('AI Agent Respuesta Final').item.json.output.Respuesta,\n    \"metricasCliente\": $json.output\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1560,
        100
      ],
      "id": "ab8a65d3-f93a-432d-8fd6-e6e8063e33e5",
      "name": "Edit interesCliente"
    },
    {
      "parameters": {
        "model": "qwen-qwq-32b",
        "options": {}
      },
      "id": "28b1b182-5ad1-4af2-8adf-9dd45a5e9926",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1940,
        400
      ],
      "credentials": {
        "groqApi": {
          "id": "Lw0fiG2F5dpOKgXc",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_NQia2tH5WB0sAMxKzbteSf1b",
          "mode": "list",
          "cachedResultName": "Procedimientos MariaDono Assistant"
        },
        "prompt": "define",
        "text": "=Responde a consultas correspondientes de cada procedimiento de ceridono según los documentos proporcionados.\n\nconversación: {{ $('Webhook').item.json.body.data._chatHistory }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        -40,
        440
      ],
      "id": "3fa2f8fa-4044-4986-8966-863425338fe7",
      "name": "Procedimientos MariaDono Assistant",
      "credentials": {
        "openAiApi": {
          "id": "ITcoQ5kvhH8jzKCQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un asistente virtual especializado en comprender y completar consultas incompletas o ambiguas de clientes. Tu tarea es analizar el contexto de la conversación, identificar la intención del usuario y sugerir la consulta completa más probable.\n\n## Contexto\n- Trabajas como capa de procesamiento para un chatbot de servicio al cliente.\n- Recibirás fragmentos de consultas que pueden ser incompletas, ambiguas o interrumpidas.\n- Debes determinar la intención más probable del usuario basándote en el contexto previo.\n\n## Instrucciones\n1. Analiza el historial de conversación reciente para establecer contexto.\n2. Identifica palabras clave y temas en la consulta parcial del usuario.\n3. Detecta si la consulta es una continuación de la conversación anterior.\n4. Formula una versión completa y clara de la consulta original.\n5. Incluye cualquier parámetro o especificación relevante que pueda estar implícita.\n6. En caso de múltiples interpretaciones posibles, proporciona la más probable primero, seguida de alternativas si es necesario.\n7. Mantén el estilo y tono del usuario en tu reformulación.\n\n## Formato de salida\n- Consulta original: [texto incompleto o ambiguo del usuario]\n- Consulta reformulada: [versión completa y clara]\n- Confianza: [alta/media/baja]\n- Interpretaciones alternativas: [si aplica]\n\n## Ejemplos\n- Original: \"Cuándo llega mi...\"\n  Reformulada: \"¿Cuándo llega mi pedido con número de referencia mencionado anteriormente?\"\n\n- Original: \"No puedo acceder\"\n  Reformulada: \"No puedo acceder a mi cuenta de usuario. ¿Cómo puedo restablecer mi contraseña?\"\n\n- Original: \"El mismo pero en rojo\"\n  Reformulada: \"Quiero el mismo producto que acabo de consultar pero en color rojo.\"\n\nRecuerda mantener la naturalidad del lenguaje y evitar sobreinterpretar la consulta cuando la intención no sea clara.\n\nconversación: {{ $json.body.data._chatHistory }}\nnueva consulta: {{ $json.body.data._body }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -1960,
        120
      ],
      "id": "001da009-ac12-48dc-81bd-d1755efe4e5b",
      "name": "Consulta Sugerida LLM"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Consulta reformulada\":\"Una Consulta\",\n\t\"Confianza\": \"Alta\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1800,
        300
      ],
      "id": "333ab2e3-cd61-4396-9ec9-f84c13e12706",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.Confianza }}",
                    "rightValue": "alta",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c5386dde-3a68-4e41-8dee-7f244162fb65",
                    "leftValue": "={{ $json.output.Confianza }}",
                    "rightValue": "media",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "34c19d8a-5174-4ad4-a7c3-59013da9fa99",
                    "leftValue": "={{ $json.output.Confianza }}",
                    "rightValue": "baja",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1420,
        120
      ],
      "id": "68648575-966a-410f-85d2-8e04614eb708",
      "name": "Switch"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.text }}{{ $json.varSinRespuesta }}",
        "options": {}
      },
      "id": "7cf2d406-db05-45ca-a603-f42736668638",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        20,
        1120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d50d8d4-5cb5-4d46-a1b2-3a8f1efda08b",
              "name": "=Respuesta",
              "value": "SinRespuesta",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -180,
        1120
      ],
      "id": "03deda7e-e371-41ba-8eef-d7be98fd1331",
      "name": "Sin Respuesta1"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_pkiZHKIFimCQt2txP1nJGgpu",
          "mode": "list",
          "cachedResultName": "Productos_MarIADono_Assistant"
        },
        "prompt": "define",
        "text": "=Responde a consultas de los documentos proporcionados. Constatar siempre marca y modelo.\n\nconversación: {{ $('Consulta Sugerida LLM').item.json.output['Consulta reformulada'] }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        -40,
        140
      ],
      "id": "57ec3d48-ebf1-4c97-a679-c252e9d7e7fd",
      "name": "Productos_MariaDono_Assistant",
      "credentials": {
        "openAiApi": {
          "id": "ITcoQ5kvhH8jzKCQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un asistente de WhatsApp que responde de manera concisa y contextualmente apropiada.\n\n## CONTEXTO TEMPORAL\n- Fecha actual: {{ $today }}\n- Hora actual: {{ $now }}\n\n## ANÁLISIS DEL HISTORIAL\nAntes de responder, analiza el historial de la conversación para identificar:\n- **Tono predominante**: formal, casual, amistoso, profesional, técnico, emotivo\n- **Estilo de comunicación**: directo, elaborado, con emojis, sin emojis\n- **Nivel de familiaridad**: primera conversación, relación establecida, contexto profesional\n- **Urgencia**: pregunta casual, solicitud urgente, seguimiento\n\n## ADAPTACIÓN DEL TONO\nAjusta tu respuesta según el patrón identificado:\n- Si es **formal/profesional**: mantén cortesía sin ser rígido\n- Si es **casual/amistoso**: usa un tono relajado y cercano\n- Si es **técnico**: sé preciso pero accesible\n- Si incluye **emojis**: úsalos moderadamente cuando sea apropiado\n- Si es **directo**: ve al grano sin rodeos\n\n## ESTRUCTURA DE RESPUESTA\n1. **Respuesta principal** (1-2 líneas máximo)\n2. **Información clave** (bullets o párrafo corto si es necesario)\n3. **Acción/seguimiento** (si aplica, en 1 línea)\n\n## REGLAS DE FORMATO WHATSAPP\n- Máximo 3-4 líneas por mensaje\n- Usa saltos de línea para separar ideas\n- Evita texto excesivamente largo\n- Prioriza claridad sobre completitud\n- No uses nombres propios a menos que sean esenciales\n- Adapta el uso de emojis al estilo de la conversación\n\n## OPTIMIZACIÓN\n- **Información clave primero**: lo más importante al inicio\n- **Elimina redundancias**: no repitas lo que ya se sabe\n- **Sé específico**: evita generalidades innecesarias\n- **Considera el contexto temporal**: referencias a \"hoy\", \"ahora\", \"esta semana\"\n\n## EJEMPLOS DE ADAPTACIÓN\n- **Historial formal**: \"Según lo solicitado, la información es...\"\n- **Historial casual**: \"Ah, sobre eso que preguntabas...\"\n- **Historial con emojis**: \"¡Perfecto! 👍 Te explico...\"\n- **Historial directo**: \"Sí. La respuesta es X porque Y.\"\n\nResponde manteniendo coherencia con el flujo conversacional establecido.\n\nHistorial de conversación del usuario: {{ $('Webhook').item.json.body.data._chatHistory }}\n\nSalida sugerida:\n{{ $json.output }}\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        680,
        120
      ],
      "id": "c3212310-ebd1-4926-ae6c-abd17b26c668",
      "name": "AI Agent Respuesta Final"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        540,
        320
      ],
      "id": "1b26a774-7e47-43d1-9086-02f5ab38074e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ITcoQ5kvhH8jzKCQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        780,
        420
      ],
      "id": "78387b90-284d-4fdf-8218-d6cb48f025bb",
      "name": "Think"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        680,
        360
      ],
      "id": "5655a94b-1661-48cf-aa15-003ceee14ef2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "# Clasificador\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n",
        "height": 1160,
        "width": 980,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1240,
        -180
      ],
      "typeVersion": 1,
      "id": "7aa9cf86-44a0-4846-89ce-692bbdaa1460",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Asistentes de Información",
        "height": 1160,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -180
      ],
      "id": "e9017998-4de8-4a64-87bb-50e2831242df",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Respuesta",
        "height": 800,
        "width": 800,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        -200
      ],
      "id": "06ce4850-f1e9-4043-bfae-2ae61e83dc00",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Pregunta\n\n",
        "height": 780,
        "width": 680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1980,
        -120
      ],
      "typeVersion": 1,
      "id": "098cdff6-1656-49da-bd59-40de2fbaf635",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Respuesta Nula\n",
        "height": 260,
        "width": 500,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        1040
      ],
      "id": "4ee71279-36de-48f7-bae0-ae064b21f47f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -560,
        240
      ],
      "id": "faf91af4-5bd3-4764-a385-477c0dc4412c",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "ITcoQ5kvhH8jzKCQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Maneja las notificaciones",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1960,
        1440
      ],
      "id": "ef7784d5-bc17-48d0-922a-10fa1ab76b98",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sseEndpoint": "http://localhost:5678/mcp/8181947f-ff94-40ca-ad61-de1d4b836d61/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        2240,
        1620
      ],
      "id": "3d846bc3-0519-4952-a160-7875bfa3c2d8",
      "name": "MCP Client1"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -420,
        580
      ],
      "id": "a5cfd645-e947-4b94-b547-26f7bbeca615",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "yUZZvnCs5FcGJ4e3",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1900,
        1640
      ],
      "id": "5f9d0e63-f9de-4c41-91d0-17454e0f10b3",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "ITcoQ5kvhH8jzKCQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen2.5:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1980,
        1640
      ],
      "id": "2b6a452f-7c7d-47a8-9a36-a5fd268792b6",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "yUZZvnCs5FcGJ4e3",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1080,
        360
      ],
      "id": "7f50b9d6-b94e-4812-a622-8eac88b00797",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "ITcoQ5kvhH8jzKCQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -440,
        420
      ],
      "id": "701d117f-8608-491d-8b8e-62dac1f4804b",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "yUZZvnCs5FcGJ4e3",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1940,
        320
      ],
      "id": "ac929b63-ea5e-4096-aea5-70027bf8b7ac",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "ITcoQ5kvhH8jzKCQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        2140,
        1700
      ],
      "id": "fc1ea730-224e-461e-b356-2de333cd53d5",
      "name": "MCP Client2",
      "credentials": {
        "mcpClientApi": {
          "id": "Bl0MaGLX6UUPZMSm",
          "name": "MCP Inspector"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        600,
        460
      ],
      "id": "47a75451-3aa0-4fe2-8cae-f71d4d2bee97",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "yUZZvnCs5FcGJ4e3",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Respuesta\": \"California\",\n    \"Aclaraciones\": \"California\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        880,
        320
      ],
      "id": "2246b92c-88ec-4c32-a809-8c0e6ac39b34",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf773174-e6e3-4f79-ad89-36c8f9642adb",
              "name": "RespuestaCompleta",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        660
      ],
      "id": "567e2d7a-e3ec-431c-957b-b568da90f35e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Prompt Sistema de Embudo de Ventas\n\n## Contexto del Sistema\nEres un asistente de ventas inteligente que evalúa y responde consultas de clientes según su posición en el embudo de ventas. Tu objetivo identificar en que etapa del funnel se encuentra.\n\n## Información del Cliente Actual\n\n### Etapa del Embudo (1-5)\n- **1:** Conciencia - Cliente identifica una necesidad\n- **2:** Interés - Cliente busca información sobre soluciones\n- **3:** Consideración - Cliente evalúa opciones específicas\n- **4:** Intención - Cliente muestra intención de compra\n- **5:** Conversión - Cliente confirma, compra o reserva\n\n### Historial de Conversación\n```\n{{ $('Webhook').item.json.body.data._chatHistory }}\n```\n\n### Nueva Consulta del Cliente\n**Consulta:** {{ $('Switch').item.json.output['Consulta reformulada'] }}\n\n### Interés Identificado del Cliente\n**Interés Principal:**  {{ $('AI Agent Clasificador').item.json.output.interesCliente }}\n\n## Instrucciones de Respuesta\n\n### Objetivos por Etapa\n1. **Etapa 1-2 (Conciencia/Interés):** \n   - Educar sobre el problema y soluciones disponibles\n   - Generar confianza y establecer autoridad\n   - Identificar necesidades específicas\n\n2. **Etapa 3 (Consideración):**\n   - Presentar beneficios únicos de tu solución\n   - Abordar objeciones comunes\n   - Proporcionar pruebas sociales y casos de éxito\n\n3. **Etapa 4 (Intención):**\n   - Crear urgencia apropiada\n   - Ofrecer incentivos relevantes\n   - Facilitar el proceso de decisión\n\n4. **Etapa 5 (Conversión):**\n   - Confirmar detalles de la compra/reserva\n   - Establecer próximos pasos claros\n   - Asegurar satisfacción post-venta\n\n### Estrategias de Comunicación\n\n#### Personalización\n- Utiliza el historial de conversación para mantener continuidad\n- Referencia el interés específico identificado\n- Adapta el tono según la etapa del embudo\n\n#### Progresión Natural\n- Busca oportunidades para avanzar a la siguiente etapa\n- No fuerces la venta prematuramente\n- Mantén el enfoque en el valor para el cliente\n\n#### Técnicas por Etapa\n- **Etapas 1-2:** Preguntas abiertas, contenido educativo\n- **Etapa 3:** Comparaciones, demos, testimonios\n- **Etapa 4:** Llamadas a la acción específicas, ofertas limitadas\n- **Etapa 5:** Confirmación de detalles, proceso de cierre\n\n### Formato de Respuesta\n\n#### Estructura Requerida\n1. **Respuesta Principal:** [Respuesta personalizada basada en la etapa y contexto]\n2. **Siguiente Acción Sugerida:** [Acción específica para avanzar en el embudo]\n3. **Evaluación de Etapa:** [Confirma si el cliente permanece en la misma etapa o ha avanzado]\n\n#### Consideraciones Especiales\n- Mantén un tono conversacional y empático\n- Incluye elementos de valor en cada respuesta\n- Prepara el terreno para la siguiente interacción\n- Documenta señales de avance en el embudo\n\n### Métricas de Éxito\n- Progresión hacia etapas superiores\n- Engagement con las sugerencias proporcionadas\n- Reducción de objeciones expresadas\n- Incremento en intención de compra expresada\n\n## Ejemplo de Implementación\n\n**Si etapa = 3 e interés = \"software de gestión\":**\n- Respuesta enfocada en características específicas del software\n- Comparación con alternativas\n- Caso de éxito relevante\n- Llamada a la acción para demo o prueba gratuita\n",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1060,
        160
      ],
      "id": "3e017780-f557-41ea-ba78-fd9929460b48",
      "name": "etapaEmbudo LLM"
    },
    {
      "parameters": {
        "name": "Sub_Workflow_Sucursal",
        "description": "Llama a esta herramienta si deseas saber si la consulta es de sucursal.",
        "workflowId": {
          "__rl": true,
          "value": "QcTr8tQUaeiUxgU8",
          "mode": "list",
          "cachedResultName": "Sub-Workflow-Sucursal"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "consulta": "={{ $json.output['Consulta reformulada'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contexto",
              "displayName": "contexto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "consulta",
              "displayName": "consulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -980,
        220
      ],
      "id": "3db04635-1ea5-4d13-b503-bbce53c05581",
      "name": "Call_Sub_Workflow_Sucursal"
    },
    {
      "parameters": {
        "name": "Sub_Workflow_Cursos",
        "description": "Llama a esta herramienta si deseas saber si la consulta es de cursos.",
        "workflowId": {
          "__rl": true,
          "value": "lP4QKeL3tbwEL2xn",
          "mode": "list",
          "cachedResultName": "Sub-Workflow-Cursos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "consulta": "={{ $json.output['Consulta reformulada'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contexto",
              "displayName": "contexto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "consulta",
              "displayName": "consulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -820,
        200
      ],
      "id": "af3a7367-0f24-4fd4-94d5-2028d9ea41a0",
      "name": "Call_Sub_Workflow_Cursos"
    },
    {
      "parameters": {
        "name": "Sub_Workflow_Productos",
        "description": "Llama a esta herramienta si deseas saber si la consulta es de productos o repuestos.",
        "workflowId": {
          "__rl": true,
          "value": "Qw9d2CHpMw1aovA7",
          "mode": "list",
          "cachedResultName": "Sub-Workflow-Productos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "consulta": "={{ $json.output['Consulta reformulada'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contexto",
              "displayName": "contexto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "consulta",
              "displayName": "consulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -780,
        340
      ],
      "id": "c8a239ad-36ee-43ac-9a4b-131e7d1d4594",
      "name": "Call_Sub_Workflow_Productos"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Revisar en todas las tools y clasifica la consulta del usuario dentro de las siguientes categorias; cursos, productos o repuestos, sucursal, pagos, consultas internas, notificaciones o mensajes promocionales, saludos o agradecimientos, otros.\nConsulta: {{ $json.output['Consulta reformulada'] }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1060,
        0
      ],
      "id": "fe3a461f-4aba-4a7c-960f-b66ec4a7c254",
      "name": "AI Agent Clasificador"
    },
    {
      "parameters": {
        "name": "Notificaciones_tool",
        "description": "Determina si el pedido del cliente es relevante para notificaciones o mensajes promocionales.",
        "workflowId": {
          "__rl": true,
          "value": "WnDF0xdaXG9nZF72",
          "mode": "list",
          "cachedResultName": "Notificaciones_SubWorkflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "consulta": "={{ $('Switch').item.json.output['Consulta reformulada'] }}",
            "contexto": "={{ $('Webhook').item.json.body.data._chatHistory }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contexto",
              "displayName": "contexto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "consulta",
              "displayName": "consulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -700,
        120
      ],
      "id": "5450e117-90bf-4de9-9bed-74b6849cb076",
      "name": "Call Notificaciones_SubWorkflow"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"interesCliente\": \"California\"\n\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -900,
        520
      ],
      "id": "df604e4d-1d51-4585-b50f-55daa545c99f",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -980,
        580
      ],
      "id": "0c843e18-546d-4c70-a5c0-e6495dd4714d",
      "name": "Think1"
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1120,
        340
      ],
      "id": "9d547fab-3b50-4fa8-b124-9109bd02e89e",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "ITcoQ5kvhH8jzKCQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Qw9d2CHpMw1aovA7",
          "mode": "list",
          "cachedResultName": "Sub-Workflow-Productos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "contexto": "={{ $('Webhook').item.json.body.data._chatHistory }}",
            "consulta": "={{ $('Consulta Sugerida LLM').item.json.output['Consulta reformulada'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contexto",
              "displayName": "contexto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "consulta",
              "displayName": "consulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        260,
        60
      ],
      "id": "771f396b-a090-42cc-9513-ea15a4b8fa5c",
      "name": "Productos Workflow"
    },
    {
      "parameters": {
        "content": "# Configuracion de Usuario\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 540,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        520,
        1340
      ],
      "typeVersion": 1,
      "id": "f5ee9733-01c5-4ac3-971f-64a4a196c924",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "fileSelector": "C:/Developer/MariaDono/MariaDonoJS/MarIADono3/src/config/userConfig.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        580,
        1560
      ],
      "id": "5cb14d2d-de6d-404f-81c5-ff96df30c66f",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        800,
        1560
      ],
      "id": "89dd0fd8-da20-4c4f-ad57-f22f48baf953",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "79e55902-cb5e-4187-b110-40d37f6d125b",
              "leftValue": "={{ $json.data.userSettings[5493812010781]] }}",
              "rightValue": "={{ $('Webhook').item.json.body.data._from }}",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1040,
        1680
      ],
      "id": "7a801aa4-dfbf-467e-ae5d-dc10278becd9",
      "name": "Filter"
    },
    {
      "parameters": {
        "inputText": "={{ $('Consulta Sugerida LLM').item.json.output['Consulta reformulada'] }}",
        "categories": {
          "categories": [
            {
              "category": "deshabilitar notificaciones",
              "description": "deshabilitar notificaciones"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -40,
        680
      ],
      "id": "9e1b19ec-72dd-4c97-9120-d5b659031510",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -20,
        860
      ],
      "id": "8f9d8d8e-89ae-45fe-a01b-0f2d4ab1790a",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "ITcoQ5kvhH8jzKCQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const userId = $('Webhook').first().json.body.data._from;\nconst userSettings = $input.first().json.data.userSettings;\n\n// Validate userId is a key in userSettings\nif (userId in userSettings) {\n    const userJson = userSettings[userId];\n    return userJson;\n} else {\n    // Handle the case where userId is not found\n    return null; // or appropriate fallback\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        1560
      ],
      "id": "f43524ae-2cd8-4410-b43d-8e16c62b9a59",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        320,
        1580
      ],
      "id": "f1752057-12aa-4c8c-8300-e331efec2072",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        240,
        260
      ],
      "id": "f22a7dca-8bea-47c6-8a23-7134234d5b2f",
      "name": "Calculator"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"interesCliente\":\"California\",\n\"Dar_de_baja_Notificaciones\":  true,\n\"Tipo_de_Productos_Consultados\":\"California\",\n\"Profundidad_de_Consulta\":\"California\",\n\"Frecuencia_de_Consulta\":\"California\",\n\"Tipo_de_Preguntas\":\"California\",\n\"Historial de Interacción\":\"California\",\n\"Repetición de Consultas\":\"California\",\n\"Urgencia en la Respuesta\":\"California\",\n\"Tiempos de Respuesta\":\"California\",\n\"Segmentación Demográfica\":\"California\",\n\"Preferencias de Producto\":\"California\",\n\"Interacción con el Asistente\":\"California\",\n\"Seguimiento Proactivo\":\"California\",\n\"Segmentación\":\"California\",\n\"Personalización de Respuestas\":\"California\",\n\"Evolucion en el Funnel de Venta\":\"California\",\n  \"Velocidad de respuesta a Bulkmessage\": 5,\n\"etapaEmbudo\":5\n\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1400,
        420
      ],
      "id": "7cac80f6-65e4-4792-a362-14cc0ddb97d3",
      "name": "Structured Output Parser Metricas"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"interesCliente\": {\n      \"type\": \"string\",\n      \"enum\": [\"cursos\", \"productos\", \"sucursales\", \"procedimientos\", \"notificaciones\",\"pagos\",\"saludos y agradecimientos\"]\n    },\n    \"Dar_de_baja_Notificaciones\": {\n      \"type\": \"boolean\"\n    },\n    \"etapaEmbudo\": {\n      \"type\": \"integer\"\n    }\n  },\n  \"required\": [\"interesCliente\", \"Dar_de_baja_Notificaciones\", \"etapaEmbudo\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1240,
        380
      ],
      "id": "a0349549-6425-4416-8a52-42f03896edce",
      "name": "Structured_Output_Parser_interesclientes"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"interesCliente\": {\n      \"type\": \"string\",\n      \"enum\": [\"cursos\", \"productos\", \"sucursales\", \"procedimientos\", \"notificaciones\",\"pagos\",\"saludos y agradecimientos\"]\n    }\n     \n  },\n  \"required\": [\"interesCliente\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -740,
        620
      ],
      "id": "1bd68eaa-46f2-4967-b01c-a33f6277d2ee",
      "name": "Structured_Output_Parser_interesclientes1"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "authorization": "Bearer Agentesceridonon8n",
            "user-agent": "axios/1.8.2",
            "content-length": "3300",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "localhost:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "_from": "5493876355406",
              "_role": "Outgoing",
              "_body": "Algún curso que se dicte el día sábado tenes",
              "_date": "2025-06-14",
              "_time": "20:40:22",
              "_messageId": "5D2071D6F6F8DDED989B1F2825B32FA6",
              "_pushName": "Assistant",
              "_botName": "bot",
              "_etapaEmbudo": "",
              "_interesCliente": "",
              "_mediaType": null,
              "_mediaUrl": null,
              "_mediaBuffer": null,
              "_aiResponses": [],
              "_mediaFilePath": null,
              "_chatHistory": "2025-06-14|20:31:07|incoming||Nahuel|Hola buenas\n2025-06-14|20:31:12|incoming||Nahuel|Te hablo por los cursos\n2025-06-14|20:32:45|incoming||Nahuel|Me pasas más información\n2025-06-14|20:33:46|Outgoing||Assistant|🤖: ¡Hola! Para enviarte la info de los cursos, ¿me podés decir sobre qué marca o modelo estás buscando? Así te paso los detalles correctos.\n2025-06-14|20:33:47|incoming||Nahuel|Multimedia message\n2025-06-14|20:34:43|incoming||Nahuel|Por el de refrigeración y el de electricidad\n2025-06-14|20:35:24|Outgoing||Assistant|🤖: ¡Te paso la info de ambos cursos! \n\n- Refrigeración básica: Reparación de heladeras y freezers. Precio: $208.333,30. Estado: disponible.\n\n- Electricidad domiciliaria (nivel inicial): Precio: $208.333,30 y variante a $250.000 según modalidad. Estado: disponible.\n\nAmbos son capacitaciones de Ceridono. Si querés más detalles de alguno, avisame.\n2025-06-14|20:35:26|incoming||Nahuel|Multimedia message\n2025-06-14|20:36:15|incoming||Nahuel|Reparación de Frédéric y heladeras\n2025-06-14|20:36:53|Outgoing||Assistant|🤖: ¡Perfecto! El curso que buscas es el de Refrigeración Básica, ideal para arrancar en la reparación de heladeras, freezers y equipos Frédéric. \n\n- Nivel: Inicial\n- Duración: 10 clases presenciales\n- Inicio en Salta: 27/06 (viernes 15 a 19 hs)\n- Inicio en Tucumán: 19/06 (jueves 15 a 19 hs)\n- Costo: $250.000, con descuentos (Técnico Amigo: $201.900 con tarjeta o $187.500 en efectivo)\n- Incluye materiales digitales, examen, recuperatorio y coffee break\n- Pedís los materiales de práctica aparte\n- De regalo: gorra y cupón para herramientas\n- Temas: circuito de refrigeración, mantenimiento y reparación\n\nPodés inscribirte acá: https://www.ceridono.ar/panel/pres/?pr=aGVrbA==\n\nCualquier otra duda, avisame.\n2025-06-14|20:37:26|incoming||Nahuel|Multimedia message\n2025-06-14|20:40:08|incoming||Nahuel|Una consulta\n2025-06-14|20:40:22|incoming||Nahuel|Algún curso que se dicte el día sábado tenes",
              "_ctx": {
                "key": {
                  "remoteJid": "5493876355406@s.whatsapp.net",
                  "fromMe": false,
                  "id": "5D2071D6F6F8DDED989B1F2825B32FA6"
                },
                "messageTimestamp": 1749944421,
                "pushName": "Nahuel",
                "broadcast": false,
                "message": {
                  "extendedTextMessage": {
                    "text": "Algún curso que se dicte el día sábado tenes",
                    "previewType": "NONE",
                    "contextInfo": {
                      "expiration": 86400,
                      "ephemeralSettingTimestamp": "1737251135",
                      "disappearingMode": {
                        "initiator": "INITIATED_BY_ME"
                      }
                    },
                    "inviteLinkGroupTypeV2": "DEFAULT"
                  },
                  "messageContextInfo": {
                    "deviceListMetadata": {
                      "recipientKeyHash": "k9vDcpNU5LZonw==",
                      "recipientTimestamp": "1749824828"
                    },
                    "deviceListMetadataVersion": 2,
                    "messageSecret": "B0nUunvrkNQ6mAE/98RKon2/kJSY2OpyytIlZGMswIM="
                  }
                },
                "body": "Algún curso que se dicte el día sábado tenes",
                "from": "5493876355406"
              },
              "mediaInfo": {
                "hasMedia": false,
                "mediaType": null,
                "isVoice": false,
                "isAudio": false,
                "hasAnyMedia": false
              }
            },
            "timestamp": "2025-06-14T23:40:23.946Z"
          },
          "webhookUrl": "http://localhost:5678/webhook/Webhook",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Consulta Sugerida LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Sucursal MariaDono Assistant": {
      "main": [
        [
          {
            "node": "AI Agent Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cursos MariaDono Assistant": {
      "main": [
        [
          {
            "node": "AI Agent Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selector de Agentes": {
      "main": [
        [
          {
            "node": "Cursos MariaDono Assistant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Productos_MariaDono_Assistant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sucursal MariaDono Assistant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin Respuesta1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procedimientos MariaDono Assistant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "AI Agent Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit interesCliente": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Procedimientos MariaDono Assistant": {
      "main": [
        [
          {
            "node": "AI Agent Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Sugerida LLM": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Consulta Sugerida LLM",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent Clasificador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin Respuesta1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Sin Respuesta1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Productos_MariaDono_Assistant": {
      "main": [
        [
          {
            "node": "AI Agent Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Respuesta Final": {
      "main": [
        [
          {
            "node": "etapaEmbudo LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Respuesta Final",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Respuesta Final",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Selector de Agentes",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "MCP Client1": {
      "ai_tool": [
        []
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "etapaEmbudo LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Consulta Sugerida LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        []
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent Respuesta Final",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "etapaEmbudo LLM": {
      "main": [
        [
          {
            "node": "Edit interesCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call_Sub_Workflow_Sucursal": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Clasificador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call_Sub_Workflow_Cursos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Clasificador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call_Sub_Workflow_Productos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Clasificador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call Notificaciones_SubWorkflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Clasificador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        []
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Clasificador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Clasificador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Clasificador": {
      "main": [
        [
          {
            "node": "Selector de Agentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        []
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Productos_MariaDono_Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured_Output_Parser_interesclientes": {
      "ai_outputParser": [
        [
          {
            "node": "etapaEmbudo LLM",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured_Output_Parser_interesclientes1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent Clasificador",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "5a0c973e-2d54-46c6-ade2-508b0367d4d5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a45e564a0c11046766a7c454204e7a510bf179e50bcfa14a7978e4f07dcf653"
  },
  "id": "qFHxEzw7MRMPXeEm",
  "tags": [
    {
      "createdAt": "2025-04-10T03:01:42.480Z",
      "updatedAt": "2025-04-10T03:01:42.480Z",
      "id": "qVoLw0KSgTR3MgwG",
      "name": "MarIADono"
    }
  ]
}